
@{
    ViewBag.Title = "AddContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>İletişim Ekleme Sayfası</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form class="form-group" method="post">
    <input type="text" placeholder="Kullanıcı Adı" name="Username" class="form-group" />
    <input type="text" placeholder="Kullanıcı Açıklaması" name="Message" class="form-group" />
    <input type="text" placeholder="Kullanıcı Maili" name="Usermail" class="form-group" />
    <button class="btn btn-info"> Ekle </button>

</form>
